$lightest: #F9F9F9;
$background: #EEEBDC;
$bone: #DFDCCD;
$darkest: #2A3D45;
$highlight: #FFFF85;
* {
  box-sizing: border-box;
}
body {
  font-family: 'Playfair Display', serif;
  background-color: $background;
}
.topnav {
  background-color: $darkest;
  overflow: hidden;
  a {
      float: left;
      display: none;
      color: $lightest;
      text-align: justify;
      padding: 10px;
      text-decoration: none;
      font-size: 1rem;
    }
  a:hover{
      color:black;
      background-color: $bone;
    }
  .icon {
      float: right;
      display: block;
      img {
          width: 30px;
        }
    }
  .dropdown {
      float: left;
      overflow: hidden;
      display:none;
  .dropbtn {
      font-size: 1rem;
      border: none;
      outline: none;
      color: white;
      padding: 10px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      width: 100%;
      height: 100%;
      }
      .dropdown:hover, .dropbtn:hover {
          color:black;
          background-color: $bone;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          a {
              float: none;
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
            }
            a:hover {
              background-color: #ddd;
              color: black;
            }
        }
    }   
}
.dropdown:hover .dropdown-content {
  display: block;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
.topnav.responsive {
      position: relative;
      .dropdown-content {position: relative;}
      .dropdown {
          float: none;
          display:block;
          .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
      }
      }
  } 
.slideshow {
    margin-top: 20px;
    max-width: 550px;
    margin: 0 auto;
    .mySlides {
      width: 100%;
    }
  }
.heading {
  display: none;
}
.content {
  margin: 0 auto;
  max-width: 820px;
  hr {
    display:none;
  }
  .background {
    display: none;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
    padding: 15px;
  }
  .centerBtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 auto;
      background-color: $highlight;
      font-family: 'Playfair Display', serif;
      padding: 15px;
      font-size: 1.5em;
      border: 3px solid black;
      box-shadow: 0 10px 30px #111;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
button:hover {
    background-color: $lightest;
  }
  .spotlight {
    margin-top: 50px;
    background-color: white;
    padding: 15px;
    border: 1px solid #bbb;
    hr {
      display: block;
      margin-top: 0;
      margin-bottom: 15px;
    }
    h2 {
      text-align: center;
      padding: 15px;
      margin: 0;
    }
    h4 {
      text-align: center;
      font-size: 1.2rem;
    }
    p {
      margin: 0;
      border: none;
      font-size: 1rem;
      text-align: justify;
    }
    .large{
      display: none;
    }
    .small {
      width: 100%;
      height: 75%;
    }
  }
}
hr {
  margin-top: 20px;
  width: 75%;
  
}
footer {
  max-width: 900px;
  margin: 0 auto;
  color: white;
  background-color: $darkest;
  padding: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  img {
    display: none;
  }
  h3 {
    margin: auto auto;
    grid-row: 1/4;
    grid-column: 1/3;
  }
  p {
    font-size: .8rem;
    margin: 0;
    .material-icons {
      font-size: .8rem;
    }
  }
 
  .phone {
    grid-column: 3/4;
    grid-row: 1;
  }
  .email {
    grid-column: 3/4;
    grid-row: 2;
  }
  .copyright {
    grid-column: 3/4;
    grid-row: 3;
  }
}
/*Contact Section*/
section {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  max-width: 950px;
  h1 {
    text-align: center;
    font-size: 2rem;
    grid-column: 1/3;
  }
  .info {
    background-color: $lightest;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    h3 {
      display: none;
    }
  }
  .map {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .social {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    background-color: none;
    img {
      border-radius: 50px;
      width: 50px;
    }
  }
  .contact_form {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 20px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
    .c-heading h1 {
      color: $lightest;
      font-size: 2rem;
      font-weight: lighter;
    }
    p {
      color: white;
    }
    .inputs {
      margin: 15px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        width: 250px;
        height: 45px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(251, 251, 251, 0.1);
        outline: none;
        margin: 10px 0px;
        padding: 10px;
        box-sizing: border-box;
        color: #f4f4f4;
        display: flex;
      }
      textarea {
        width: 250px !important;
        height: 200px !important;
        outline: none;
        background-color: transparent;
        border: 1px solid rgba(82, 82, 82, 1);
        color: #f4f4f4;
        padding: 10px;
        font-size: 1.2rem;
        box-sizing: border-box;
      }
      button {
        display: block;
        margin-top: 20px;
        width: 200px;
        height: 40px;
        background-color: $lightest;
        border: none;
        outline: none;
        border-radius: 10px;
      }
      input:focus {
        border-bottom: 1px solid rgba(252, 252, 252, 1);
        transition: all ease 0.5s;
      }
      textarea:focus {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        transition: all ease 0.5s;
        background-color: rgba(0, 0, 0, 0.1);
      }
      button:hover {
        background-color: $highlight;
        transform: scale(1.02);
      }
    }
  }
}

/*-----------------------------------MEDIUM--------------------------------------------
-------------------------------------VIEW-----------------------------------------------*/
@media only screen and (min-width: 37.5rem){
footer { 
  max-width: 750px;
  grid-template-columns: 75px 200px auto;
  grid-template-rows: auto auto auto;
  img {
    display: block;
    width: 100%;
    grid-row: 1/4;
    margin: 0 auto
  }
  h3 {
    margin-top: auto;
    margin-left: 10px;
    margin-right: 25px;
    grid-row: 1/4;
    grid-column: 2/3;
    font-size: x-large
  }
  p {
    font-size: 1rem;
    margin: 0;
    .material-icons {
      font-size: 1rem;
    }
  }
  .phone {
    grid-column: 3/4;
    grid-row: 1;
  }
  .email {
    grid-column: 3/4;
    grid-row: 2;
  }
  .copyright {
    grid-column: 3/4;
    grid-row: 3;
  }
}
.contact_form {
  width: 75%;
  margin: 0 auto;
}
}

/*-----------------------------------LARGE------------------------
-------------------------------------VIEW------------------------*/
@media only screen and (min-width: 57.5rem){
.heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  .logo {
    width: 100%;
    height: 400px;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 20;
    margin: 0 auto;
  }
  .background {
    width: 100%;
    height: 500px;
    grid-column: 1/3;
    grid-row: 1/4;
  }
  
}
.topnav {
  display: flex;
  .icon {
      display: none;
    }
  a {
      font-size: 1.3rem;
      flex: 1 1 auto;
      display: block;
    padding: 0.75rem;
    font-weight: 700;
    text-align: center;
  }
  .dropdown {
      flex: 1 1 auto;
      display: block;
    text-align: center;
    .dropbtn {
      font-weight: 700;
        font-size: 1.3rem;
    }
    .dropdown-content {
        width: 500px;
        a {
          font-size: 1.3rem;
        }

    }

  }
  .active {
      background-color:$lightest;
      color: black;
    }
} 
.content {
  max-width: none;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto  auto 100px auto ;
  gap: 10px;
  hr {
    display: block;
    grid-column: 1/4;
    background-color: black;
    margin-top: 100px;
  }
  .slideshow {
    grid-column: 2/4;
    grid-row: 1/3;
    width: 100%;
    margin-top: 25%;
  }
  h1 {
    grid-column: 1/4;
    grid-row: 1;
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
  .amenities {
    grid-column: 1;
    font-size: 1.3rem;
  }
  .services {
    grid-column: 2/4;
    font-size: 1.3rem;
  }
  .centerBtn {
    grid-row:4/5;
    grid-column: 1/4;
  }
  .spotlight {
    grid-column: 1/4; 
    h2 {
      text-align: left;
      font-size: 1.8rem;
    }
    h4 {
      text-align: left;
      padding-left: 10px;
    }
    hr {
      width: 40%;
      margin-left: 0;
      margin-top: 10px;
    }
    .large {
      display: block;
      background-color: $bone;
      float: right;  
      padding: 10px;
      margin-top: 30px;
      margin-left: 15px; 
      margin-right: 15px;
      width: 50%;
      box-shadow: 0 0 20px #111;
    } 
    .small {
      display: none;
    }
  }   
}
/*Contact Section*/
section {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 10px;
  margin: 0 auto;
  h1 {
    display: none;
  }
  .info {
    font-size: 1.2rem;
    border: 3px solid black;
    grid-row: 2/3;
    padding: 15px;
    h3 {
      font-size: 1.5rem;
      display: block;
    }
  }
  .map {
    grid-column: 1/2;
    grid-row: 3/5;
    width: 100%;
    border: 2px solid black;
    border-radius: 15px;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      border: 2px solid black;
    }
  }
  .contact_form {
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 2/5;
    margin-top: 0;
    h1 {
      display: block;
    }
    .inputs {
      margin-left: 0;
      button {
        display: block;
      }
    }
  }
}
}




